.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 60px;
}
.cintillo{
 
  background-image: url('cintillo2.jpeg');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área de la barra de herramientas */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
 
  width: 100%; /* Asegura que el div ocupe todo el ancho del contenedor */
  height: 110px; /* Establece la altura deseada para el cintillo */
  left: 50%;

}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.background-container {
    position: relative; /* Establece la posición relativa para poder posicionar elementos hijos de forma absoluta */
}

.background-image {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    position: absolute; /* Establece la posición absoluta para que la imagen se superponga */
    top: 60px; /* Coloca la imagen en la esquina superior izquierda */
    left: 0;
    width: 100%; /* Haz que la imagen cubra todo el contenedor */
    height: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido principal */
    /* Ajusta el fondo como desees, por ejemplo: */
    background-image: url('fondo.jpeg');
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
    opacity: 0.9; /* Ajusta la opacidad de la imagen si lo deseas */
}
