<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
   
    <mat-nav-list>
      <a mat-list-item matTooltip="Lista de Reservaciones" [routerLink]="['/nav/reservations/']" [queryParams]="{ reload: true }">
        <mat-icon>
          list
        </mat-icon>
      </a>

      <a mat-list-item matTooltip="Crear Reservación" routerLink="/nav/create-reservation"><mat-icon>add_circle</mat-icon></a>
      @if(admin){
         <a mat-list-item matTooltip="Reporte por usuario" [routerLink]="['/nav/ReportByUser/']" [queryParams]="{ reload: true }">
            <mat-icon>
              feed
            </mat-icon>
         </a>
         <a mat-list-item matTooltip="Reporte por salón" [routerLink]="['/nav/ReportBySalon/']" [queryParams]="{ reload: true }">
            <mat-icon>
              feed
            </mat-icon>
         </a>
         <!--<a mat-list-item matTooltip="Reporte por fecha">
            <mat-icon>
              feed
            </mat-icon>
         </a>-->
         <a mat-list-item matTooltip="Usuarios" [routerLink]="['/nav/users/']" [queryParams]="{ reload: true }">
            <mat-icon>
              group
            </mat-icon>
         </a>
      }
      <a mat-list-item matTooltip="Perfil" routerLink="/nav/user/">
          <mat-icon>
            person
            </mat-icon>
      </a>
      <a mat-list-item matTooltip="Salir" (click)="logout()">
         <mat-icon>
              logout
         </mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
     <span>
      {{user}}
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="background-image">
          <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
