

 
<div class="login-container"> 
<form class="login" [formGroup]="myForm" (ngSubmit)="onSubmit()" >
  
            <h2>{{ data.title }}</h2>
   
         @if (submitted && myForm.get('name')?.hasError('required')){
            <div class="error-message" >
                Nombre requerido
            </div>
        }
        <input type="text" formControlName="name" required  placeholder="Nombre" >
       
        @if (submitted && myForm.get('email')?.hasError('email')){
            <div class="error-message" >
                El email ingresado no es válido.
            </div>
         }
           <input type="email" formControlName="email" required  placeholder="Correo electrónico" >

         
  
        @if (submitted && myForm.get('password')?.hasError('required')){
            <div class="error-message" >
                Contraseña requerida
            </div>
        }
        @if (submitted && myForm.get('password')?.hasError('minlength')){
            <div class="error-message" >
                Contraseña menor a 6 caracteres
            </div>
        }
        <input type="password" formControlName="password" required  placeholder="Contraseña" >
        
        
        @if (submitted && myForm.get('password2')?.hasError('required')){
            <div class="error-message" >
                Contraseña requerida
            </div>
        }
        @if (submitted && myForm.get('password2')?.hasError('minlength')){
            <div class="error-message" >
                Contraseña menor a 6 caracteres
            </div>
        }
        @if(submitted && myForm.get('password')?.value !== myForm.get('password2')?.value){
        <div class="error-message">
          Las contraseñas no coinciden
        </div>
        }
        <input type="password" formControlName="password2" required  placeholder="Contraseña" >
        
        
        @if (submitted && myForm.get('directionId')?.hasError('required')){
            <div class="error-message" >
                Direccion requerida.
            </div>
        }
 
        <select formControlName="directionId" class = "custom-select" >
            <option value="" disabled selected>Direcciones</option>
            @for (direction of directions; track direction.id) {
                <option value="{{ direction.id }}">{{ direction.address }}</option>
            } @empty {
                <option>There are no items.</option>
            }   
        </select>
        
        
       
    <button  type="submit" >Crear</button>
    
</form>
</div >
 