/* Estilos para el contenedor principal */
div {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el título */
h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para el select */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para los botones */
button {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(0,0,255);
}

button:hover {
  background-color: rgb(0,0,255);
}
