.card-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 50vh; /* Ajusta la altura según sea necesario */
}

.mat-card-container {
 
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  width: 250px;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.mat-card-container::before,
.mat-card-container::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

 
.mat-card-container label {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}


/*
.mat-card-container button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 50%;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 255);
  transition: background-color 300ms;
}*/
